@model PCLoan.Models.LoginModel

@{
    ViewBag.Title = "Login Screen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Log ind</h2>
<div style="display:block">
    <div>
        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <form name="login" action="" method="post">
                <div class="row">
                    <div class="col-4 offset-4 form-group">
                        @Html.LabelFor(m => m.username)
                        @Html.TextBoxFor(m => m.username, new { @class = "formname form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 offset-4 form-group">
                        @Html.LabelFor(m => m.password)
                        @Html.PasswordFor(m => m.password, new { @class = "formpass form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 offset-4">
                        <div>
                            @Html.ValidationMessageFor(m => m.username, "", new { @class = "text-danger" })
                            @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-4 offset-4">
                        <div class="text-danger">
                            @ViewBag.FailedLogin
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 offset-4">
                        <button class="btn btn-primary" type="submit">Log ind</button>
                    </div>
                </div>
            </form>
        }
    </div>
</div>