@model PCLoan.Presentation.Web.Models.UserModel

@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutWithoutNavbar";
}

<div class="container" id="login">
    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
        <div class="row">
            <div class="col-4 offset-4 text-center">
                <p class="display-3">Log ind</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 offset-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @lass = "control-label" })
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control p-2" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 offset-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @lass = "control-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control p-2" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 offset-4">
                <div class="lgnfail text-danger">
                    <!--Validation message for failed login, DONT specify which one is false!-->
                    @ViewBag.FailedLogin
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 offset-4 text-center">
                <button class="btn btn-primary btn-lg mt-2" type="submit">Login</button>
            </div>
        </div>
    }
</div>


