@model PCLoan.Presentation.Web.Models.ComputerModel

@{
    ViewBag.Title = "Slet Pc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3">
    <div class="col-6 offset-3">
        <h3 class="text-center">Er du sikker på at du vil slette denne Pc?</h3>
    </div>
</div>
<hr />

@using (Html.BeginForm("Delete", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-6 offset-3">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
                <div class="col-6">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">
                    @Html.DisplayNameFor(model => model.StateId)
                </div>
                <div class="col-6">
                    @Html.DisplayFor(model => model.StateText)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">
                    @Html.DisplayNameFor(model => model.LendBy)
                </div>
                <div class="col-6">
                    @Html.DisplayFor(model => model.LendBy)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">
                    @Html.DisplayNameFor(model => model.LoanDate)
                </div>
                <div class="col-6">
                    @Html.DisplayFor(model => model.LoanDate)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="row">
                <div class="col-6 text-right font-weight-bold">
                    @Html.DisplayNameFor(model => model.ReturnedDate)
                </div>
                <div class="col-6">
                    @Html.DisplayFor(model => model.ReturnedDate)
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 offset-3">
            <div class="row">
                <div class="col-6 text-right">
                    <input type="submit" value="Slet" class="btn btn-danger" />
                </div>
                <div class="col-6 pt-1">
                    @Html.ActionLink("Tilbage til oversigt", "Index")
                </div>
            </div>
        </div>
    </div>

}
